@model Sports_Management_System.Models.Event_Record

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event_Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Competitor_Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competitor_Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competitor_Medal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competitor_Medal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorldRecord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorldRecord)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
