@model Sports_Management_System.Models.Event

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Game_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Game_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeatureEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventVenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
